html, body {
    width: 100%
}
.hidden {
    display: none
}
.button {
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
}
.init {
    background-color: #322931
}
.init:hover {
    background-color: #3A3A3A
}
.shutdown {
    background-color: #512020
}
.shutdown:hover {
    background-color: #310000
}